<template name='aboutcourses'>
  <div class="container">
    <div class="row">
  		<div class="col-md-12">
  			<div class="template-title">
  				Courses We Offer
  			</div>
  		</div>
  	</div>


      <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="home-promo-bg">
            <div class="home-promo-red">
              <div class="home-promo-wide-overlay">
                <div class="course_title">New Diagnosis</div>
                <div class="course_text">
                  A new diagnosis is a difficult time. Children, young people and their families have to come to terms with a new way of living, and learn new facts and skills. This course will introduce families to the basics about T1 diabetes: how to do injections and tests, how to use the meters. Hypos, school, sleep-overs, sport. Sick day rules.<BR>
                    There will be allocated time to ask questions, share experiences and meet other families.
                </div>
                <table class="about_courses_table">
                  <tbody>
                    <tr>
                      <th>Duration:</th><td>9 hours</td>
                    </tr>
                    <tr>
                      <th>Topics:</th><td>Practical skills, hypos, schools</td>
                    </tr>
                  </tbody>
                </table>
                {{#if currentUserIsParent}}
                  <div class="button_book">
                    <a class="btn btn-primary btn-small"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Book Now</span></a>
                  </div>
                {{else}}
                  <div class="button_book">
                    Want to book a place?<BR>
                    All places are free to YDC members. Just sign up for an account...
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="home-promo-white">
            <div class="pull-right">
              <img src="/images/newdiagnosis.jpg"/>
            </div>
            <div style="width: 50%; height: auto;">
              <img src="/images/newdiagnosis2.jpg"/>
            </div>

            <div class="home-promo-wide-overlay">
              <blockquote>'..They knew what we were going through...'</blockquote>
              <blockquote>'..We could not have got through it without the clinicians...'</blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="home-promo-white">
            <div class="pull-right" style="width: 50%; height: auto;">
              <img src="/images/eating_child.jpg"/>
            </div>
            <div style="width: 30%; height: auto;">
              <img src="/images/carbsncals.jpg"/>
            </div>

            <div class="home-promo-wide-overlay pull-right">
              <blockquote>'..I learnt so much...'</blockquote>
              <blockquote>'..We realised it wasn't so hard...'</blockquote>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="home-promo-blue">
            <div class="home-promo-wide-overlay">
              <div class="course_title">Carbohydrate Counting</div>
              <div class="course_text">
                Carbohydrates are the source of all glucose in the body, and without insulin glucose has nowhere to go. By counting the carbohydrates, children, young people and their families estimate how much glucose they are putting in their bodies. It is a small step from here to matching the insulin dose. <BR>
                Using the 'Carbs and Cals' books (developed at King's, part of YDC), families quickly learn that it is less 'counting' and more 'estimating'.
              </div>
              <table class="about_courses_table">
                <tbody>
                  <tr>
                    <th>Duration:</th><td>9 hours</td>
                  </tr>
                  <tr>
                    <th>Topics:</th><td>Carb awareness, carb counting, carb ratios, insulin sensitivity factors</td>
                  </tr>
                </tbody>
              </table>
              {{#if currentUserIsParent}}
                <div class="button_book">
                  <a class="btn btn-primary btn-small"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Book Now</span></a>
                </div>
              {{else}}
                <div class="button_book">
                  Want to book a place?<BR>
                  All places are free to YDC members. Just sign up for an account...
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="home-promo-bg">
            <div class="home-promo-green">
              <div class="home-promo-wide-overlay">
                <div class="course_title">Insulin Pumps</div>
                <div class="course_text">
                  Insulin injections are safe and effective at managing diabetes, but some families prefer the insulin pump, which delivers insulin continuously from a small box that is worn all the time. No more taking out pens for injections - young people can test and take their insulin discretely and quickly. <BR>
                  Using a pump means learning new ideas - all covered in this course.
                </div>
                <table class="about_courses_table">
                  <tbody>
                    <tr>
                      <th>Duration:</th><td>9 hours</td>
                    </tr>
                    <tr>
                      <th>Topics:</th><td>Basal Rates, Bolus Wizards, Cannula changes, Safety, Warranties</td>
                    </tr>
                  </tbody>
                </table>
                {{#if currentUserIsParent}}
                  <div class="button_book">
                    <a class="btn btn-primary btn-small"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Book Now</span></a>
                  </div>
                {{else}}
                  <div class="button_book">
                    Want to book a place?<BR>
                    All places are free to YDC members. Just sign up for an account...
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="home-promo-white">
            <div class="home-promo-wide-overlay">
              <div class="pull-right" style="width: 50%; height: auto;">
                <img src="/images/pumpstarter.jpg"/>
              </div>
              <div style="width: 30%; height: auto;">
                <img src="/images/pumprefresher.jpg"/>
              </div>

              <div class="home-promo-wide-overlay pull-right">
                <blockquote>'..I can change my cannula on my own...'</blockquote>
                <blockquote>'..I take my pump off for swimming...'</blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="home-promo-bg">
            <div class="home-promo-white">
              <div class="home-promo-wide-overlay">
                <div class="pull-right" style="width: 30%; height: auto;">
                  <img src="/images/secondarytransfer.jpg"/>
                </div>
                <div class="pull-left" style="width: 50%; height: auto;">
                  <img src="/images/secondarytransfer2.jpg"/>
                </div>
                <div class="home-promo-wide-overlay pull-right">
                  <blockquote>'..I manage my diabetes on my own at school...'</blockquote>
                  <blockquote>'..She tells her teacher how to use her pump...'</blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="home-promo-pink">
            <div class="home-promo-wide-overlay">
              <div class="course_title">Transfer to Secondary School</div>
              <div class="course_text">
                Going on to secondary school at the age of 11y with diabetes can feel daunting. There is more independence, and families may worry that the support they had in primary school will not be there.<BR>
                This course explores the problems and worries people have about diabetes at school, in sport and lessons, as young people take their first steps towards independence.
              </div>
              <table class="about_courses_table">
                <tbody>
                  <tr>
                    <th>Duration:</th><td>9 hours</td>
                  </tr>
                  <tr>
                    <th>Topics:</th><td>Sport, lunchtimes, clubs, care plans, teacher support</td>
                  </tr>
                </tbody>
              </table>
              {{#if currentUserIsParent}}
                <div class="button_book">
                  <a class="btn btn-primary btn-small"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Book Now</span></a>
                </div>
              {{else}}
                <div class="button_book">
                  Want to book a place?<BR>
                  All places are free to YDC members. Just sign up for an account...
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="home-promo-blue">
            <div class="home-promo-wide-overlay">
              <div class="course_title">'DAFNE' For Transition</div>
              <div class="course_text">
                DAFNE is a national training programme run throughout the year for people of all ages to learn how to manage their diabetes more effectively. <Br>
                We offer a special DAFNE course for young people aged 17y and above, as well as one just for young people with pumps - essential training for people moving on to adult services.
              </div>
              <table class="about_courses_table">
                <tbody>
                  <tr>
                    <th>Duration:</th><td>5 days</td>
                  </tr>
                  <tr>
                    <th>Topics:</th><td>Carb counting, carb ratios, insulin sensitivity factors, travel, work, college&university</td>
                  </tr>
                </tbody>
              </table>
              {{#if currentUserIsParent}}
                <div class="button_book">
                  <a class="btn btn-primary btn-small"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Book Now</span></a>
                </div>
              {{else}}
                <div class="button_book">
                  Want to book a place?<BR>
                  All places are free to YDC members. Just sign up for an account...
                </div>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="home-promo-white">
            <div class="pull-right" style="width: 50%; height: auto;">
              <img src="/images/eating_child.jpg"/>
            </div>
            <div style="width: 30%; height: auto;">
              <img src="/images/carbsncals.jpg"/>
            </div>

            <div class="home-promo-wide-overlay pull-right">
              <blockquote>'..It suddenly all made sense...'</blockquote>
              <blockquote>'..I met some incredible people...'</blockquote>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>
