<template name='accessibility'>
  <div class="container">
    <div class="col-lg-3"></div>
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <h2>Accessibility</h2>
        <div class="tandc">
  YoungDiabetesConnections is committed to providing a website that is accessible to the widest possible audience, regardless of technology or ability. This includes people who have sight problems or are disabled including those with motor deficiencies and cognitive disabilities.
  This website aims to conform to the World Wide Web Consortium (W3C) Web Content Accessibility Guidelines 2.0 at the AA standard. These guidelines provide advice on making websites more user friendly for everyone.
  This site has been built using code compliant with W3C standards for HTML and CSS and displays correctly in current browsers. By using standards-compliant HTML/CSS code, any future browsers will also display it correctly.
  We do our best to keep to the above guidelines and standards, but it is not always possible for us to do so in all areas of the website. There will also be occasions where we do not meet your expectations, so if you do come across any issues or have general feedback on accessibility of this site, please let us know.
        </div>
      </div>
    </div>
</template>
