<template name = 'addevent'>
  <container>
    <div class="row" >
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="template-title">All Courses</div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          {{ #if thereAreCourses }}
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label >Filters:</label>
            </div>
            <label for='filterByHospital'>Centre</label>
            <select id='filterByHospital'>
              <option value="NoFilter">No Selection</option>
              {{#each clinicOptions}}
                <option value={{this.value}}>{{this.text}}</option>
              {{/each}}
            </select>
            <label for='filterByHospital'>Course</label>
            <select id='filterByCourse'>
              <option value="NoFilter">No Selection</option>
              {{#each courseOptions}}
                <option value={{this.value}}>{{this.text}}</option>
              {{/each}}
            </select>
            <!--label for='filterByCourseComplete'>Course Complete</label>
            <select id='filterByCourseComplete'>
              <option value="NoFilter">No choice</option>
              <option value="upcoming">Upcoming</option>
              <option value="completed">Completed</option>
            </select-->
            <table class="table table-bordered table-hover courses_table">
              <thead>
                <tr>
                  <th class="centred_th">Course Name<br><div class="small_text">(select to see bookings)</div></th>
                  <th class="centred_th">Course Dates</th>
                  <th class="centred_th">Centre</th>
                  <th class="centred_th">Location</th>
                  <th class="centred_th">Booked Places</th>
                  <th class="centred_th">Total Places</th>
                  <th class="centred_th">Places Remaining</th>
                  <th class="centred_th">Cancel</th>
                </tr>
              </thead>
              <tbody>
                {{#each courses}}
                <tr class={{selectedCourseClass}}>
                  <td id="courses">{{course_name}}</td>
                  <td>{{courseDatesForCourse start_date end_date}}</td>
                  <td>{{clinic}}</td>
                  {{#if address}}
                    <td class = 'mapmarker centred_td' id={{address}}><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i></a></td>
                  {{else}}
                    <td class="centred_td">{{clinic}} Venue TBC</td>
                  {{/if}}
                  <td class="centred_td">{{numberOfAttendees _id}}</td>
                  <td class="centred_td">{{course_places}}</td>
                  <td class="centred_td"><span class='badge'>{{placesRemaining _id}}</span></td>
                  {{#if courseHasCompleted start_date end_date }}
                    <td class="centred_td"><span><i class="fa fa-check" aria-hidden="true"></i></span>Course Complete</td>
                  {{ else }}
                      <td class="centred_td"><button class = "btn btn-danger btn-sm" id='cancelCourseButton'> Cancel Course </button></td>
                  {{ /if }}
                </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <H2>There are currently no courses booked or completed</H2>
          {{/if}}
        </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row" >
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <button class = "btn btn-info" id='addCourseButton'> Add New Course Dates </button>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
  </container>
</template>
