<template name='bookingadmin'>
  <container>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="template-title">Booking Administration</div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div> <!---div-->
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <select class="form-control" name='course_name' id="course_select">
          <option value="NoFilter">select a course...</option>
          {{#each allCourses}}
          <option value={{this._id}}>{{this.course_name}} {{dateTimeShortenToDate this.start_date}} </option>
          {{/each}}
        </select>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class = "row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        {{#with selectedCourse}}
          <H4><small>Total Places: <b>{{this.course_places}}</b><BR>Number of places remaining: <b>{{ spacesRemaining this._id }}</b></small></H4>
        {{/with}}
        {{ #if getAllBookings }}
          <table class="table table-bordered">

            <thead>
              <tr>
                <th>Course Name</th>
                <th>Dates</th>
                <th>Clinic</th>
                <th>Validated</th>
                <th>YDC Member</th>
                <th>Places</th>
                <th>Cancel</th>
              </tr>
            </thead>
            <tbody>
                {{#each getAllBookings}}
                    <tr class={{bookingExpiredClass course}} id="bookingUsers">
                      <td>{{courseNameForBooking course}}</td>
                      <td>{{ courseDatesForBooking course }}</td>
                      <td>{{ courseClinicForBooking course}}</td>
                      {{ #if booking_validated}}
                        <td>Confirmed</td>
                      {{ else }}
                        <td>Pending Confirmation</td>
                      {{/if}}
                      <td>{{courseUserForBooking booked_by}}</td>
                      <td>{{ places_booked }}</td>
                      {{#if courseHasCompleted course}}
                        <td><span class="glyphicon glyphicon-ok"></span>&nbsp;Course Complete</td>
                      {{ else }}
                        <td><button class="btn btn-danger" id='cancelBookingButton'>Cancel</button></td>
                      {{ /if }}
                    </tr>
                    {{/each}}
            </tbody>

          </table>
        {{ else }}
          <H5> There are no bookings so far... </H5>
        {{ /if }}
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div> <!---row -->
  </container>
</template>
