<template name="contact_us">
  <div class="container">
    <div class="row">
  		<div class="col-md-12">
  			<div class="template-title">
  				How to get help
  			</div>
  		</div>
  	</div>
    <div class="row">
      <div class="col-lg-3 col-md-3"></div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="home-promo-red">
          <div class="home-promo-wide-overlay">
            <h3>If you need urgent advice and it is a weekday between 9am and 5pm, ring your centre's contact number below, or go to Accident and Emergency.</h3>
            <p>For all other times we offer consultant advice to families, 24 hrs a day, 365 days a year, across Lambeth, Lewisham, Southwark and Bromley.</p>
            <div class="promo-text">
              <a class="btn btn-small btn-info" href='tel:+442071887188' id='phonebutton'><i class="fa fa-phone" aria-hidden="true" style="color: white;"></i></a>&nbsp;After hours: (020) 71887188
            </div>
            <p>Ask for the Clinician on call for Paediatric Diabetes</p>
            <div class="promo-text">
              <a class="btn btn-small btn-info" href="" id="inhoursbutton"><i class="fa fa-phone" aria-hidden="true" style="color: white;"></i></a>&nbsp;Monday-Friday, 9am to 5pm
              {{#if currentUser}}
                <div class="promo-text">Your clinic is {{group}}</div>
              {{/if}}
            </div>
            <div class="promo-text">
              <p>If you want to rebook or cancel an appointment please contact the clinic administrator on the number below.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3"></div>
    </div>
  <div class="row">

      <div class="container col-lg-6 col-md-6 col-sm-12 col-xs-12 hospital_tile_grey">
  			<div class="news-hospitals-text">
  				Evelina London Children's Hospital
  			</div>
        <div class="news-hospitals">
          <a class="btn" href="http://www.elch.nhs.uk" alt="Evelina London Children\'s Hospital"><img src="/images/elch100.png" class="news-hospitals"></a>
        </div>
        {{>hospital_table_template}}
      </div>

      <div class="container col-lg-6 col-md-6 col-sm-12 col-xs-12 hospital_tile_grey">
    			<div class="news-hospitals-text">
    				King's College Hospital
    			</div>
          <div class="news-hospitals">
              <a class="btn" href="http://www.kch.nhs.uk"><img src="/images/kings130.png" alt="King\'s College Hospital" class="news-hospitals"></a>
          </div>
          {{>hospital_table_template}}
    </div>

  </div>
    <div class="row">
      <div class="container col-lg-6 col-md-6 col-sm-12 col-xs-12 hospital_tile_grey">
  			<div class="news-hospitals-text">
  				Princess Royal University Hospital
  			</div>
        <div class="news-hospitals">
            <a class="btn" href="https://pruh.kch.nhs.uk/"><img src="/images/kings130.png" alt="Princess Royal University Hospital" class="news-hospitals"></a>
        </div>
        {{>hospital_table_template}}
  		</div>
  		<div class="container col-lg-6 col-md-6 col-sm-12 col-xs-12 hospital_tile_grey">
  			<div class="news-hospitals-text">
  				University Hospital Lewisham
  			</div>
        <div class="news-hospitals">
            <a class="btn" href="http://www.uhl.nhs.uk"><img src="/images/uhl130.png" alt="University Hospital Lewisham" class="news-hospitals"></a>
        </div>
        {{>hospital_table_template}}
  		</div>
    </div>
  </div>
</template>

<template name='hospital_table_template'>
  <table class="hospital_table">
    <tbody>
      <tr>
        <th class="hospital_head">Administrator:</th><td class="hospital_data"></td>
      </tr>
      <tr>
        <th class="hospital_head">Doctors:</th><td class="hospital_data"></td>
      </tr>
      <tr>
        <th class="hospital_head">Nurses:</th><td class="hospital_data"></td>
      </tr>
      <tr>
        <th class="hospital_head">Dieticians:</th><td class="hospital_data"></td>
      </tr>
      <tr>
        <th class="hospital_head">Psychology:</th><td class="hospital_data"></td>
      </tr>
      <tr>
        <th class="hospital_head">Email Inquiries:</th><td class="hospital_data"></td>
      </tr>
    </tbody>
  </table>
</template>
