<template name="cookies">
  <div class="container">
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <H2>Cookies</H2>
      <div class="tandc">Also known as browser cookies or tracking cookies, cookies are small, often encrypted text files, located in browser directories. They are used by us to help our users navigate this website efficiently and perform certain functions. Due to their core role of enhancing or enabling usability or site processes, disabling cookies may prevent users from using certain parts of this website.</div>
      <H3>First party cookies</H3>
      <div class="tandc">We do not set any first party cookies for visitors on our site.</div>
      <h3>Third party cookies</H3>
        <div class="tandc">We use various services (eg Google Translate, social media) and embed content (eg videos) from third parties that may also set cookies on your computer. As we do not control dissemination of these cookies you should refer to the relevant third party website for information on their cookies. Any third party services used are considered to be strictly necessary to provide content you have requested for our site.</div>
        <h3>More Information</h3>
          <div class="tandc"><a href="/cookies">Information on our cookies</a></div>
          <div class="tandc"><a href="http://www.allaboutcookies.org">Information on cookies in general</a></div>
          <h3>Your settings</h3>
          <div class="tandc">{{cookiesAreEnabled}}</div>
          <div class="tandc">Information on how to disable cookies depends on your browser. Further details are found <a href="https://www.aboutcookies.org/how-to-delete-cookies/">here</a>.</div>
          <!--div class="tandc"><button class="btn btn-small" id="disableenablecookiesbutton">{{cookiesEnabled}}</button></div-->
      </div>
      <div class="col-lg-3 col-md-3"></div>
    </div>
</template>
