<template name='footer'>
  <!-- Footer -->
  <footer class="content-info" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="menu-footer-nav-container">
          <ul id="menu-footer-nav" class="menu">
            <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="/accessibility">Accessibility</a></li>
            <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a href="/termsandconditions">Terms and conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <small>Copyright &copy;<span style='text-transform: uppercase;'>YoungDiabetesConnections</span> is a union of King's College Hospital NHS Foundation Trust, Evelina Children's Hospital and University Hospital Lewisham.</small>
        <div class="pull-right"><small><a href="http://www.eatyourpeas.co.uk">eatyourpeas.co.uk</a> 2017</small></div>
      </div>
    </div>
  </div>

  </footer>
</template>
