<template name='home'>
    <div id="content" class="site-content">
      <div class="container">
      <div class="row home-main-bg">
        <div class="col-xs-12 col-sm-12 col-lg-6" role="main">
          <span class="title">
            <span>supporting families</span>
            <span>to live well</span>
          </span>
          <span class="strap">
            <span>for children and young people with diabetes,<span></span> and their families</span>
          </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6" role="main">
          <div class="home-main-wide">
            <div class="home-main-wide-overlay">
              <h3><a href="{{aboutus}}">Who Are We?</a></h3>
              <p>We are a union of 3 teaching hospitals providing specialist care and support for children with diabetes and their families across Lambeth, Lewisham, Southwark and Bromley.</p>
            </div>
          </div>
        </div>
      </div>

    </div><!-- #content -->
  </div>


<div class="container">
  <div class="home-promo-bg">
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="home-promo-red">
          <div class="home-promo-wide-overlay">
          <h3>Contacts</h3>
          <p>We offer consultant advice to families, 24 hrs a day, 365 days a year, across Lambeth, Lewisham, Southwark and Bromley.</p>
          <div class="promo-text">
            <p><button class="btn btn-small btn-info" href='tel:+442071887188' id='phonebutton'><i class="fa fa-phone" aria-hidden="true" style="color: white;"></i></button>&nbsp;(020) 71887188</p>
          </div>
          <p>Ask for the Clinician on call for Paediatric Diabetes</p>
          <div class="promo-text">
            <p><button class="btn btn-small btn-info" id="inhoursbutton"><i class="fa fa-phone" aria-hidden="true" style="color: white;"></i></button>&nbsp;Monday-Friday, 9am to 5pm</p>
          </div>
        </div>
      </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="home-promo-green">
          <div class="home-promo-wide-overlay">
          <h3><a href="{{contact}}">Rolling Education Programme</a></h3>
          <p>We run regular courses across the region for schools and families on all aspects of diabetes care, including:</p>
            <ul>
              <li class="courses_bullets">New diagnosis - first steps</li>
              <li class="courses_bullets">Carb counting and carb awareness</li>
              <li class="courses_bullets">Diabetes at School</li>
              <li class="courses_bullets">Transferring to secondary school</li>
              <li class="courses_bullets">Starting on a pump</li>
              <li class="courses_bullets">DAFNE ('Dose Adjustment For Normal Eating') for young people</li>
            </ul>
          <p> Sign in to book places.</p>
        </div>
      </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="home-promo-pink">
          <div class="home-promo-wide-overlay">
            <h3>Diabetes Self-Management Support</h3>
            <p>A library of written information and videos on how to manage diabetes at school, at home and on trips away. There is guidance here on dosing, diet, exercise and psychological health.</p>
            <p class="promo-text">If you are doctor or health care professional, there is guidance on how to refer.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="home-promo-blue">
          <div class="home-promo-wide-overlay">
            <h3>YDC Articles and Updates</h3>
            <p>YoungDiabetesConnections was created to share ideas, best practice and experience between specialist diabetes services in South East London. YDC meets quarterly to share ideas, perform audi. It is well attended and has representatives from our family group: DUKLands. We keep a list of news and updates to the clinic here.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>




</template>
