<template name='useradmin'>
  <container>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="alert alert-warning" id="warningAlert" style="display: none;">
          {{alertMessage}}
        </div>
        <div class="alert alert-success" id="successAlert" style="display: none;">
          {{alertMessage}}
        </div>
        <div class="template-title">All Users</div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			   <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 searchform">{{> searchform }}</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		</div>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 searchform">
        <H4>Select a YDC Member to review their bookings</H4>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Centre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each adminUsers}}
              <tr class={{selectedUserClass}} id="adminUsers">
                <td>{{profile.name}}</td>
                <td>{{emailForUser emails}}</td>
                <td>{{roleForUser _id}}</td>
                <td>{{ groupForUser _id }}</td>
                <td><button class='btn btn-danger' id='deleteUserButton'>Delete</button>&nbsp;<button class='btn btn-info' id='editTeamMemberButton'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <button class='btn btn-info' id='addTeamMemberButton'>Add Team Member</button>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div> <!--row -->
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        {{ #if getSelectedUser }}
          {{#if confirmedBookingsForUser }}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:50px;">
              <table class="table table-bordered table-hover user_admin_table">
                <thead>
                  <tr>
                    <th>Course Name</th>
                    <th>Course Dates</th>
                    <th>Centre</th>
                    <th>My Tickets</th>
                    <th>Spaces Left</th>
                    <th>Cancel</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each confirmedBookingsForUser}}
                  <tr id="courses">
                    <td>{{coursenameforid course}}</td>
                    <td>{{startdateForCourse course}} - {{enddateForCourse course}}</td>
                    <td>{{clinicForCourse_id course}}</td>
                    <td>{{places_booked}}</td>
                    <td><span class="badge">{{spacesRemaining course}}</span></td>
                    <td><button class = "btn btn-danger" id='cancelBookingButton'> Cancel Booking </button></td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          {{else}}
            <H4>There are no bookings for this user</H4>
          {{/if}}

        {{/if}}
      </div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div> <!--row -->

  </container>


</template>
